body {
  margin: 0;
  background-color: grey;
  width: 1920px;
  height: 1080px;
}

header {
  background-color: aliceblue;
  height: 50px;
  width: 100%;
}

header div {
  position: absolute;
  height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 2px 2px 10px 1px darkblue;
}

header img {
  position: absolute;
  top: 0;
  height: 50px;
  width: auto;
}

header a {
  display: inline-flex;
  margin-right: 2%;
  height: 30px;
  width: 100px;
  background-color: white;
  color: black;
  text-decoration-line: none;
  font: bold 20px sans-serif;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
}

header a:hover {
  background-color: slategrey;
  color: white;
}

#pageRN {
  background-color: rgb(3, 3, 3);
  color: white;
}

footer {
  position: fixed;
  bottom: 10px;
  height: 50px;
  width: 100%;
  display: grid;
  justify-content: center;
}

footer p {
  margin: 0px;
  color: white;
  text-decoration-line: none;
  font: bold 15px sans-serif;
}

#socialINFO {
  display: flex;
  justify-content: center;
  align-items: center;
}

#socialINFO a {
  background-color: aliceblue;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: 10%;
  color: black;
  text-decoration-line: none;
  padding: 5px;
}

#socialINFO a img {
  width: 15px;
  height: 15px;
}

#ImgPlayer {
  position: relative;
  width: 100%;
  height: 340px;
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#ImgPlayer img {
  position: absolute;
  top: 60px;
  width: calc(275px * 1.5);
}

#ImgPlayer p {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.571);
  color: white;
  width: calc(275px * 1.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 280px;
}

#ImgPlayer p:nth-of-type(odd) {
  top: 55px;
}

#ImgPlayerController {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 290px */
}

#ImgPlayerController button {
  content: "";
}

#eventINFO {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#news {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  justify-items: center;
}

/* 如何讓外距可以自動調整 */
#news div {
  margin: auto;
  width: 320px;
  height: 250px;
  align-content: start;
  justify-items: center;
  border-style: solid;
  border-color: white;

  border-width: 2.5px;
  border-radius: 10%;
  color: white;
}

.Discover {
  font-size: 20px;
  margin-bottom: 100px;
}

.Discover:has(details) p {
  max-height: 100px;
  height: auto;
}

.Discover:has(details[open]) p {
  max-height: 1000000000px;
}

.Discover details summary span::after {
  content: "閱讀更多(read more)";
}

.Discover details[open] summary span::after {
  content: "閱讀更少(read less)";
}

.Discover details summary {
  position: relative;
  background-color: white;
  color: black;
  font-size: 30px;
  width: 265px;
  height: 50px;
  border: 3px solid black;
  border-radius: 10%;
  display: block;
  left: calc(50% - 135.5px);
}

#pageDiscover {
  justify-items: center;
  color: white;
}

.Discover p {
  margin: 0px;
  text-align: center;
  overflow: hidden;
}

#list {
  padding: 10px;
  top: 60px;
  position: relative;
  width: 360px;
  left: calc(50% - 180px);
  border: 3px solid white;
  color: white;
  display: inline-grid;
  align-items: center;
  justify-content: center;
}

#list p {
  margin: 15px;
  display: flex;
  justify-content: end;
}

#list div {
  /* width: 100%; */
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

}

#list p input {
  color: white;
  margin-left: 5px;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid white;
}

#drag_area {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

#drag,
#drag-target {
  margin: 3px;
}

#drag span,
#drag-target span {
  background-color: darkgrey;
  width: 30px;
  height: 30px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#drag,
#drag-target {
  background-color: lightgrey;
  height: 30px;
  width: 160px;
}

#drag-target {
  background-color: gray;
  border: 3px lightgray solid;
}

.placeholder {
  background-color: rgb(117, 117, 117);
  width: 30px;
  height: 30px;
  margin: 5px;
}