body {
  padding: 0;
  margin: 0;
}

header {
  top: 0;
  left: 0;
  display: flex;
  font-size: 50px;
  width: 100%;
  height: 10%;
  background-color: rgb(48, 48, 48);
}

header img {
  width: 6vh;
  height: 6vh;
}

header a {
  color: white;
  text-decoration: none;
  margin-left: 5vw;
}

#ImgPlayer {
  width: 100%;
  height: 600px;
  background-color: black;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;

}


.unit {
  background-color: rgb(127, 127, 127);
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  transform: translateX(50%);
  transition: ease-in-out 0.5s;
  opacity: 1;
}

.unit div {

  z-index: 10;
  color: rgb(255, 0, 0);
  position: absolute;
  top: 75%;
}

.unit div h3,
p {
  text-align: center;
}


.unit img {
  width: 825px;
  height: 549px;
}



#ImgPlayer button {
  z-index: 11;
  position: absolute;
  left: 25%;
  height: 100%;
}

#ImgPlayer button:nth-of-type(2) {
  left: 75%;
}

#dotBox {
  z-index: 13;
  position: absolute;
  top: 85%;
  width: auto;
  height: 20px;
  justify-items: center;
  align-items: center;
  display: inline;
}

#dotBox button {
  margin: 1px;
  position: static;
  top: 0%;
  color: beige;
  background-color: black;
  border-color: rgb(0, 0, 0);
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

#contentBox {
  margin-top: 5px;
  background-color: black;
  height: auto;
  display: block;
  align-content: start;
  justify-items: start;
}

#contentBox div {
  display: flex;
  transition: all 0.5s ease-in-out;
  height: 15vw;
  width: 100%;
  border: solid 10px;
  background-color: white;
  border-radius: 0%;
  font-size: 40px;
  overflow: hidden;
}

#contentBox div img {
  width: 100%;
  height: 100%;
}

#contentBox div details summary {
  display: block;
}

#contentBox div details summary span::after {
  content: "點我展開";
}

#contentBox div details[open] summary span::after {
  content: "點我合併";
}

#contentBox div:has(details[open]) {
  align-content: center;
  justify-items: center;
  border: solid 5px;
  height: 45vw;
  width: 100%;
}

#contentBox div:hover p {
  display: block;
}

#contentBox div img {
  height: 15vw;
  width: 15vw;
}

#map {
  width: 50vw;
  height: 30vw;
  background-color: aqua;
}

#map button {
  background-color: rgba(0, 0, 0, 25%);
}

#map button span::before {
  content: "☆";
}

#NewsCntBox {
  width: 50vw;
  height: 30vw;
  background-color: rgb(74, 74, 74);
  overflow: hidden;
}

#NewsCntBox img {
  position: absolute;
  height: inherit;
  width: inherit;
  opacity: 0;
  transition: all 0.5s;
}

.NewsCnt {
  position: relative;
  background-color: rgba(0, 0, 0, 30%);
  top: 60%;
  height: 40%;
  width: 100%;
  transition: all 0.2s;
  overflow: hidden;

}

.NewsCnt:hover {
  top: 0%;
  height: 100%;
  overflow: scroll;
}

.NewsCnt p {
  position: absolute;
  font-size: 20px;
  color: white;
  opacity: 0;
  transition: all 0.5s;
}

#BusCntBox {
  display: flex;
  height: 500px;
  width: 100%;
  background-color: black;

}

#BusCntBox div {
  display: block;
  height: 500px;
  width: 50%;
  background-color: white;
}

#BusCntBox div p:not(:nth-of-type(1)) {
  margin: 0;
  padding: 0;
  height: auto;
  max-height: 0;
  transform-origin: top;
  overflow: hidden;
  transition: all 0.5s;
}

#BusCntBox div details summary {
  background-color: crimson;
  color: white;
  justify-items: center;
  align-content: center;
  width: 100px;
  height: 50px;
  display: block;
}

#BusCntBox div details summary span::after {
  content: "Read more";
}

#BusCntBox div details[open] summary span::after {
  content: "Read less";
}

#BusCntBox div:has(details[open]) p {
  max-height: 1000px;
}

#drag {
  display: flex;
  height: 120px;
  width: 500px;
  background-color: gray;
}

#drag div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  width: 100px;
  height: 100px;
  color: white;
  margin: 10px;
  background-color: black;
}